.jumbotron
  %h1 Jasper modules hub
  %p All jasper's modules, all the time

.row
  .col-md-12
    - @plugins.each do |plugin|
      .col-md-4
        .thumbnail
          .caption
            %h2.text-center= plugin.name
            %p= plugin.description
            .text-right= link_to 'Show', plugin, class: 'btn btn-primary btn-block'

